<nav class="navbar navbar-expand-lg" style="background-color:#F9F6F1; color:red;" >
  <div class="container-fluid">
    <a class="navbar-brand m-4" href="/" > <img src="{{ asset('assets/image/Logo.svg') }}"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto "></ul>

        {# <li class="nav-item dropdown d-flex">
          <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Profil
          </a>
          <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarScrollingDropdown" style="right: 0;left: auto;">
           {% if app.user %}
                      <li><a class="dropdown-item" href="/profile/{{ app.user.username }}">{{ app.user.username }}</a></li>
                      <li><a class="dropdown-item" href="/message/">Mes messages</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="{{ path('app_logout') }}">Déconnexion</a></li>
            {% else %}
                        <li><a class="dropdown-item" href="/login">Connexion</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="/register">S'inscrire</a></li>

            {% endif %}

          </ul>
        </li> #}
        
        <li class="nav-item d-flex">  
            <a class="nav-link active" href="{{ path('page_lab')}}" style="font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;font-size: 16px;color:black;  ">Labgrade device & app</a>
        </li>

        <li class="nav-item d-flex">  
            <a class="nav-link active" href="{{ path('page_who')}}" style="font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;font-size: 16px;color:black; " >Who we are</a>
        </li>
        
        <li class="nav-item d-flex">  
            <a class="nav-link active" href="{{ path('page_scientifique-validation')}}" style="font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;font-size: 16px; color:black; ">Scientific validation</a>
        </li>

        <li class="nav-item d-flex">  
            <a class="nav-link active" href="{{ path('page_study')}}" style="font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; font-size: 16px;color:black; ">Studies & services</a>
        </li>
        


        {% if is_granted('ROLE_USER') %}
            <li class="nav-item d-flex"><a class="nav-link" href="{{ path('app_logout') }}" style="font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;font-size: 16px; color:black; ">Logout</a></li>
        {% else %}
            <li class="nav-item d-flex"><a class="nav-link" href="{{ path('app_login') }}" style="font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; font-size: 16px;color:black; ">Login</a></li>
        {% endif %}

        <li class="nav-item dropdown d-flex">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false" style="font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;font-size: 16px; color:black; ">Langage</a>
            <ul class="dropdown-menu">
                {% for locale in locales %}
                    {% if locale != app.request.locale %}
                        <li class="dropdown-item"><a href="{{ path('change_locale', {'locale': locale}) }}">{{ locale }}</a>
                    {% endif %}
                {% endfor %}
            </ul>
        </li>

     

    </div>
  </div>
</nav>