<!DOCTYPE html>
<html>
  <head>
    <script>
      window.axeptioSettings = {
        clientId: "622a12eda3710ac01d450cb0",
        cookiesVersion: "https://github/clarenceptl/hackaton-fr"
      };

      (function (d, s) {
        var t = d.getElementsByTagName(s)[0],
          e = d.createElement(s);
        e.async = true;
        e.src = "//static.axept.io/sdk.js";
        t.parentNode.insertBefore(e, t);
      })(document, "script");
    </script>
    <meta charset="UTF-8">
    <title>
      {% block title %}Wired Beauty{% endblock %}
    </title>
    {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    {% block stylesheets %}
      {#{{ encore_entry_link_tags('app') }}#}
    <link href="css/css.css" rel="stylesheet">
    {% endblock %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="crossorigin">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">
  </head>
  <body style="background-color:#F9F6F1;">
    <div class="toast-container" id="myToast" style="position: absolute; top: 40px; right: 10px;">
      {% for type, messages in app.flashes() %}
        {% for message in messages %}
          <div class="toast align-items-center show text-white {{ type == 'green' ? 'bg-success' : 'bg-danger' }} -0" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="d-flex">
              <div class="toast-body">
                {{message}}
              </div>
              <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
          </div>
        {% endfor %}
      {% endfor %}
    </div>

    {% include "partials/header.html.twig" %}

    <main class="">
      {% block body %}
            <div class="m-5 text-center">
                <div>
                    <img class="rounded-33" src="{{asset('img/molecule.jpg')}}" alt="">
                </div>
            </div>
        
        <div class="blue c-w text-center p-80">
            <div class="container">
                <h1>Similarities with medicament protocols</h1>
                <p>Skin care product testing often resembles the protocols of medicament testing. 
                It is a long sequencial process which aims to protect the voluntary testers, measure performance, record side-effects. 
                For the most serious cosmetic labs, it is not rare to spend over 18 months gathering and analyzing 
                the results of the following stages
                </p>
            </div>
        </div>

        <div class="container">
            <div class="row col-12 d-flex justify-content-around c-w my-5">
                <div class="w-25 col-xs-12 blue rounded-33 p-3">
                    <h2 class="text-center">First Step</h2>
                    <p>Scientific literature analysis
                    Molecule
                    /Dosage/
                    Application
                    /Frequency 
                    </p>
                </div>
                <div class="w-25 col-xs-12 blue rounded-33 p-3">
                    <h2 class="text-center">Second Step</h2>
                    <p>TRIALS on reconstructed skin
                    or  explants or animals</p>
                </div>
            </div>
            <div class="row col-12 d-flex justify-content-around c-w my-5">
                <div class="w-25 col-xs-12 blue rounded-33 p-3">
                    <h2 class="text-center">Third Step</h2>
                    <p>CLINICAL TRIALS 
                    on healthy testers & 
                    on affected testers</p>
                </div>
                <div class="w-25 col-xs-12 blue rounded-33 p-3">
                    <h2 class="text-center">Fourth Step</h2>
                    <p>DOUBLE BLIND TEST 
                    on large basis
                    Vs placebo
                    & Vs existing formula (side 
                    effects and performance)
                    </p>
                </div>
            </div>

            <div class="text-center p-80">
            <div class="container">
                <h1>Studies and services</h1>
                <p>While Wired Beauty always adapts to its clients' specifications and does custom research, the digitally enabled methodology could in the future allow syndicated studies on very large cohorts.
                Nevertheless, using our IOT lab device and app, Wired Beauty easily managed the following 

                </p>
            </div>
        </div>
        </div>

        <div class="">
            <div class="my-5 text-center">
                <img class="rounded-33" src="{{asset('img/tableau.png')}}" alt="tableau">
            </div>
        </div>

      {% endblock %}
    </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script>
      let element = document.getElementById("myToast");

      // Create toast instance
      let myToast = new bootstrap.Toast(element);
      myToast.show()
    </script>
    {% block javascripts %}
      {#{{ encore_entry_script_tags('app') }}#}
    {% endblock %}
  </body>
</html>
